h1 {
  /* border: 2px solid red; */
  color: green;
  margin: 3rem 0 0 0;
}

.cnt{
  /* border: 2px solid pink; */
  padding: 0;
}

div {
  /* border: 2px solid blue; */
  margin-bottom: 2rem;
  padding: 1rem;
}

input{
  padding: 8px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: rgb(47, 47, 223);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  letter-spacing: 1px;
}

button:hover {
  background-color: black;
}

h3 {
  margin-top: 1rem;
}
